/*
	Copyleft 2012

	Este arquivo é parte de hs-webirc.

	hs-webirc é um software livre; você pode redistribui-lo e/ou
	modifica-lo dentro dos termos da Licença Pública Geral GNU como
	publicada pela Fundação do Software Livre (FSF); na versão 3 da
	Licença.

	Este programa é distribuido na esperança que possa ser útil,
	mas SEM NENHUMA GARANTIA; sem uma garantia implicita de ADEQUAÇÂO
	a qualquer MERCADO ou APLICAÇÃO EM PARTICULAR. Veja a
	Licença Pública Geral GNU para maiores detalhes.

	Você deve ter recebido uma cópia da Licença Pública Geral GNU
	junto com este programa, se não, escreva para a Fundação do
	Software Livre(FSF) Inc., 51 Franklin St, Fifth Floor, Boston, MA
	02110-1301 USA.

*/
img.fixo {
	vertical-align: text-bottom;
}
ul.horizontal li.horizontal
{
	display: inline;
	list-style-type: none;
	padding-right: 10px;
	padding-left: 10px;
}
* {
	margin: 0;
}
html, body {
	height: 100%;
}
div.livre {
	min-height: 100%;
	height: auto !important;
	height: 100%;
	margin: 0 auto -72px;
}
div.barramento {
	height: 72px;
}
div.fixo {
	/*background-color:#FFFFFF;*/
	position:fixed;
	bottom:0;
	width:100%;
	overflow:hidden;
	height: 72x;
}

